name: docs

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: update
        run: sudo apt-get update
      - name: install libegl1
        run: sudo apt-get install libegl1
      - name: install python3-opengl
        run: sudo apt-get install python3-opengl
      - uses: compas-dev/compas-actions.docs@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          doc_url: https://compas.dev/compas_viewer/
